<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sameetasadullah.project">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <activity
            android:name=".trackApp"
            android:exported="false" />
        <activity
            android:name=".showSusApps"
            android:exported="false" />
        <activity
            android:name=".scanApps"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".trackApp$broadCastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="sendInformation" />
            </intent-filter>
        </receiver>

        <service
            android:name=".trackerService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>